upload/config.php
upload/test.php
.idea/
upload/.idea/
*.log
upload/cache/
.project
.buildpath
upload/.metadata/version.ini
upload/.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
upload/.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
upload/.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
upload/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
upload/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
upload/.metadata/.plugins/org.eclipse.ui.intro/introstate
upload/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
upload/.metadata/.plugins/org.eclipse.php.ui/dialog_settings.xml
upload/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
upload/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
upload/.metadata/.plugins/org.eclipse.dltk.ui/OpenTypeHistoryorg_eclipse_php_core_PHPNature.xml
upload/.metadata/.plugins/org.eclipse.dltk.ui/dialog_settings.xml
upload/.metadata/.plugins/org.eclipse.dltk.core/Containers.dat
upload/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
upload/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
upload/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
upload/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
upload/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.php.ui.prefs
upload/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.php.server.core.prefs
upload/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.php.debug.core.prefs
upload/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.php.core.prefs
upload/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
upload/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
upload/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
upload/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
upload/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.dltk.ui.prefs
upload/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
upload/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
upload/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
upload/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
upload/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
upload/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
upload/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
upload/.metadata/.mylyn/repositories.xml.zip
upload/.metadata/.lock
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.php.core.prefs
