/*
	File: css/bs2.css
	Created: 3/4/2016 at 2:56PM Eastern Time
	Info: Login dropdown menu styling.
	Author: TheMasterGeneral
	Website: https://github.com/MasterGeneral156/chivalry-engine
*/
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
div.quotemain
{
	border: 1px;
	border-style: dotted;
	font-style: italic;
	border-color: gray;
	background-color: E0E0E0;
}
div.quotetop
{
	border: 1px;
	border-style: solid;
	font-weight: bold;
	border-color: gray;
	color: gray;
	background-color: D8D8D8;
}
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}