div.quotemain{border:1px;border-style:dotted;font-style:italic;border-color:gray;background-color:#E0E0E0;}
div.quotetop{border:1px;border-style:solid;font-weight:bold;border-color:gray;color:gray;background-color:#D8D8D8;}
@media (max-width:575px){.hidden-xs-down, .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
.hidden-xs-up,
.hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl{display:none !important;}
}
@media (min-width:576px) and (max-width:767px){.hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
.hidden-xs-up, .hidden-sm-up,
.hidden-unless-xs, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl{display:none !important;}
}
@media (min-width:768px) and (max-width:991px){.hidden-md-down, .hidden-lg-down, .hidden-xl-down,
.hidden-xs-up, .hidden-sm-up, .hidden-md-up,
.hidden-unless-xs, .hidden-unless-sm, .hidden-unless-lg, .hidden-unless-xl{display:none !important;}
}
@media (min-width:992px) and (max-width:1199px){.hidden-lg-down, .hidden-xl-down,
.hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up,
.hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-xl{display:none !important;}
}
@media (min-width:1200px){.hidden-xl-down,
.hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up, .hidden-xl-up,
.hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg{display:none !important;}
}
body{padding-top:75px;}

.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
 }
.blue_to_red {
    -webkit-animation: blue_to_red_color_change 5s infinite alternate;
	-moz-animation: blue_to_red_color_change 5s infinite alternate;
	-ms-animation: blue_to_red_color_change 5s infinite alternate;
	-o-animation: blue_to_red_color_change 5s infinite alternate;
	animation: blue_to_red_color_change 5s infinite alternate;
}

@-webkit-keyframes blue_to_red_color_change {
	from { color: var(--blue); }
	to { color: var(--red); }
}
@-moz-keyframes blue_to_red_color_change {
	from { color: var(--blue); }
	to { color: var(--red); }
}
@-ms-keyframes blue_to_red_color_change {
	from { color: var(--blue); }
	to { color: var(--red); }
}
@-o-keyframes blue_to_red_color_change {
	from { color: var(--blue); }
	to { color: var(--red); }
}
@keyframes blue_to_red_color_change {
	from { color: var(--blue); }
	to { color: var(--red); }
}
.indigo_to_pink {
    -webkit-animation: indigo_to_pink_color_change 5s infinite alternate;
	-moz-animation: indigo_to_pink_color_change 5s infinite alternate;
	-ms-animation: indigo_to_pink_color_change 5s infinite alternate;
	-o-animation: indigo_to_pink_color_change 5s infinite alternate;
	animation: indigo_to_pink_color_change 5s infinite alternate;
}

@-webkit-keyframes indigo_to_pink_color_change {
	from { color: var(--indigo); }
	to { color: var(--pink); }
}
@-moz-keyframes indigo_to_pink_color_change {
	from { color: var(--indigo); }
	to { color: var(--pink); }
}
@-ms-keyframes indigo_to_pink_color_change {
	from { color: var(--indigo); }
	to { color: var(--pink); }
}
@-o-keyframes indigo_to_pink_color_change {
	from { color: var(--indigo); }
	to { color: var(--pink); }
}
@keyframes indigo_to_pink_color_change {
	from { color: var(--indigo); }
	to { color: var(--pink); }
}
.green_to_yellow {
    -webkit-animation: green_to_yellow_color_change 5s infinite alternate;
	-moz-animation: green_to_yellow_color_change 5s infinite alternate;
	-ms-animation: green_to_yellow_color_change 5s infinite alternate;
	-o-animation: green_to_yellow_color_change 5s infinite alternate;
	animation: green_to_yellow_color_change 5s infinite alternate;
}

@-webkit-keyframes green_to_yellow_color_change {
	from { color: var(--green); }
	to { color: var(--yellow); }
}
@-moz-keyframes green_to_yellow_color_change {
	from { color: var(--green); }
	to { color: var(--yellow); }
}
@-ms-keyframes green_to_yellow_color_change {
	from { color: var(--green); }
	to { color: var(--yellow); }
}
@-o-keyframes green_to_yellow_color_change {
	from { color: var(--green); }
	to { color: var(--yellow); }
}
@keyframes green_to_yellow_color_change {
	from { color: var(--green); }
	to { color: var(--yellow); }
}
.light_to_dark {
    -webkit-animation: light_to_dark_color_change 5s infinite alternate;
	-moz-animation: light_to_dark_color_change 5s infinite alternate;
	-ms-animation: light_to_dark_color_change 5s infinite alternate;
	-o-animation: light_to_dark_color_change 5s infinite alternate;
	animation: light_to_dark_color_change 5s infinite alternate;
}

@-webkit-keyframes light_to_dark_color_change {
	from { color: var(--light); }
	to { color: var(--dark); }
}
@-moz-keyframes light_to_dark_color_change {
	from { color: var(--light); }
	to { color: var(--dark); }
}
@-ms-keyframes light_to_dark_color_change {
	from { color: var(--light); }
	to { color: var(--dark); }
}
@-o-keyframes light_to_dark_color_change {
	from { color: var(--light); }
	to { color: var(--dark); }
}
@keyframes light_to_dark_color_change {
	from { color: var(--light); }
	to { color: var(--dark); }
}
.enchanted_glow {
    -webkit-animation: enchanted_glow_color_change 5s infinite alternate;
	-moz-animation: enchanted_glow_color_change 5s infinite alternate;
	-ms-animation: enchanted_glow_color_change 5s infinite alternate;
	-o-animation: enchanted_glow_color_change 5s infinite alternate;
	animation: enchanted_glow_color_change 5s infinite alternate;
}
@-webkit-keyframes enchanted_glow_color_change {
	from {  }
	to { color: var(--orange); }
}
@-moz-keyframes enchanted_glow_color_change {
	from { }
	to { color: var(--orange); }
}
@-ms-keyframes enchanted_glow_color_change {
	from { }
	to { color: var(--orange); }
}
@-o-keyframes enchanted_glow_color_change {
	from { }
	to { color: var(--orange); }
}
@keyframes enchanted_glow_color_change {
	from { }
	to { color: var(--orange); }
}
@-moz-keyframes spinner {
    to { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spinner {
    to { -webkit-transform: rotate(359deg); }
}
@keyframes spinner {
    to {transform:rotate(359deg);}
}

.spinner {
    animation: spin 1000ms linear infinite;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

* {
  margin:0;
  padding:0;
  border:0;
}

@keyframes slide {
  from { left:100%; transform: translate(0, 0); }
  to { left: -100%; transform: translate(-100%, 0); }
}
@-webkit-keyframes slide {
  from { left:100%; transform: translate(0, 0); }
  to { left: -100%; transform: translate(-100%, 0); }
}

.marquee { 
  background:var(--light);
  width:100%;
  height:1.25rem;
  line-height:1.15;
  overflow:hidden;
  position:relative;
}

.text {
  position:absolute;
  top:0;
  white-space: nowrap;
  height:1rem;
  font-size:1rem;
  animation-name: slide;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: slide;
  -webkit-animation-duration: 30s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-iteration-count: infinite;
}

.vip {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18
}

.strike-through {
	text-decoration: line-through;
}
