.default-theme .sidebar-wrapper {
  background-color: #1d1d1d; }
  .default-theme .sidebar-wrapper .sidebar-item {
    border-top: 1px solid #2b2b2b; }
    .default-theme .sidebar-wrapper .sidebar-item:first-child {
      border-top: none; }
  .default-theme .sidebar-wrapper a:not(.dropdown-item),
  .default-theme .sidebar-wrapper .sidebar-header,
  .default-theme .sidebar-wrapper .sidebar-search input,
  .default-theme .sidebar-wrapper .sidebar-search i {
    color: #adadad; }
  .default-theme .sidebar-wrapper a:not(.dropdown-item):hover,
  .default-theme .sidebar-wrapper .sidebar-menu li.active > a {
    color: #d8d8d8; }
  .default-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .default-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: #2b2b2b;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-left: 1px; }
  .default-theme .sidebar-wrapper .sidebar-menu a:hover i,
  .default-theme .sidebar-wrapper .sidebar-menu a:hover:before,
  .default-theme .sidebar-wrapper .sidebar-menu li.active a i {
    color: #22ff16; }
  .default-theme .sidebar-wrapper .sidebar-menu ul li a i {
    background-color: #2b2b2b; }
  .default-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
    background-color: #2b2b2b; }
  .default-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #868686; }
  .default-theme .sidebar-wrapper .sidebar-footer {
    background-color: #2b2b2b;
    -webkit-box-shadow: 0px -1px 5px #1d1d1d;
    box-shadow: 0px -1px 5px #1d1d1d;
    border-top: 1px solid #2b2b2b; }
  .default-theme .sidebar-wrapper .sidebar-footer > div:first-child {
    border-left: none; }
  .default-theme .sidebar-wrapper .sidebar-footer > div:last-child {
    border-right: none; }

.default-theme.toggled #close-sidebar {
  color: #adadad; }

.default-theme.toggled #close-sidebar:hover {
  color: #d8d8d8; }

.default-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.default-theme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.default-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #525965;
  border-radius: 0; }

.default-theme .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent; }

.default-theme.sidebar-bg .sidebar-wrapper:before {
  background-color: rgba(42, 42, 42, 0.9); }

.default-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item),
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-header,
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-search input,
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-search i {
  color: #c7c7c7; }

.default-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item):hover,
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-menu li.active > a {
  color: #f2f2f2; }

.default-theme.sidebar-bg .sidebar-wrapper .sidebar-item {
  border-color: #454545; }

.default-theme.sidebar-bg .sidebar-wrapper .sidebar-search input.search-menu,
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-search .input-group-text {
  background-color: rgba(81, 81, 81, 0.5); }

.default-theme.sidebar-bg .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
  background-color: rgba(81, 81, 81, 0.5); }

.default-theme.sidebar-bg .sidebar-wrapper .sidebar-menu ul li a i {
  background-color: rgba(81, 81, 81, 0.5); }

.default-theme.sidebar-bg .sidebar-wrapper .sidebar-footer {
  background-color: rgba(56, 56, 56, 0.5);
  -webkit-box-shadow: 0px -1px 5px rgba(29, 29, 29, 0.8);
  box-shadow: 0px -1px 5px rgba(29, 29, 29, 0.8);
  border-top: 1px solid #383838; }
